*.aux
*.cp
*.dvi
*.fn
*.info*
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
/pintos.fns
/pintos.tps
/pintos.vrs
mlfqs1.pdf
mlfqs1.png
mlfqs2.pdf
mlfqs2.png
pintos.html
pintos.pdf
pintos.ps
pintos.text
pintos_*.html
projects.html
sample.tmpl.texi
